.home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 20px;
  row-gap: 20px;

  &__generator {
    display: flex;
    flex-direction: row;
    align-items: centerØ;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    padding: 20px 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
}
